.led-inner {
    border: 2px solid white;
    width: 15px;
    height: 10px;
}

.led-inner.on {
    background-color: #0db4da;
    border-color: #0db4da;
    box-shadow: #0db4da 1px 1px 15px 1px;
}

.led-inner.off {
    background-color: #263256f1;
    border-color: #263256f1;
}