.led-inner {
    border: 2px solid white;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;

}

.led-inner.on {
    background-color: tomato;
    border-color: tomato;
    box-shadow: #ef8d7c 1px 1px 15px 1px;
}

.led-inner.off {
    background-color: red;
    border-color: red;
}