.dropdown-wrapper {
    display: flex;
    height: 4rem;
    align-items: center;

}

.dropdown-label {
    width: 10rem;
    max-width: 10rem;
    padding-right: 1rem;
}

#dropdown-basic {
    min-width: 9rem;
}