.input-number-wrapper {
    display: flex;
    height: 4rem;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}

.input-number {
    width: 9rem;
    max-width: 9rem;
    border: 1px solid #b9b8b8;
    background: #241b31;
    border-radius: 5px;
    color: #b9b8b8;
    text-align: center;
    font-weight: 800;
}

.input-number-label {
    width: 10rem;
    max-width: 10rem;
    padding-right: 1rem;
}